# Dependencies
node_modules
.pnpm
.npm

# Git
.git
.gitignore
.github/workflows

# Documentation and README
*.md
README*

# Builds and temporary files
dist
build
.next
.tamagui
out
.storybook-out
storybook-build

# Cache and logs
.cache
*.log
.DS_Store
.env*

# Development tools
.vscode
.idea
*.tgz
coverage

# Testing
__tests__
*.test.*
*.spec.*

# Sources that are not needed for building
packages/app
packages/vue
raw-icons
scripts