# @xsolla-zk:registry=http://localhost:4873
manage-package-manager-versions = true
ignore-workspace-root-check = true
auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=*tamagui*
# enable-pre-post-scripts = true
