# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
@xsolla-zk:registry=http://localhost:4873
# @xsolla-zk:registry=https://npm.pkg.github.com
manage-package-manager-versions = true
ignore-workspace-root-check = true
auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=*tamagui*
# enable-pre-post-scripts = true
