//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
@xsolla-zk-ui:registry=https://npm.pkg.github.com/
manage-package-manager-versions = true
ignore-workspace-root-check = true
# enable-pre-post-scripts = true
